.starlight-back {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
  z-index: 1500;
  position: fixed;
}

.starlight-panel {
  bottom: 30px;
  left: 50px;
  width: 479px;
  height: 139px;
  z-index: 1600;
  position: fixed;
}

.starlight-ratio {
  bottom: 116px;
  left: 355px;
  z-index: 1700;
  position: fixed;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
}

.starlight-loading.hide {
  display: none;
}