.starlight-loading div {
    margin: 0px;
    box-sizing: content-box;
}

.starlight-loading p {
    margin: 0px;
    box-sizing: content-box;
}

.starlight-back {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: #1d1d1d;
    z-index: 1500;
    position: fixed;
}

.starlight-panel {
    border: 2px #ddd solid;
    border-radius: 10px;
    background: linear-gradient(#c6c6c6, #b5b5b5);
    width: 479px;
    height: 139px;
    z-index: 1600;
    position: fixed;
    bottom: 30px;
    left: 50px;
    box-shadow: 4px 4px 10px #090909;
}

.starlight-panel p {
    color: #363636;
    font-size: 17px;
    font-family: 'M+ 1p bold';
    line-height: 1.4em;
    transform: rotate(0.028deg);
}

.starlight-panel .message-up {
    text-align: left;
    position: relative;
    top: 30px;
    left: 128px;
}

.starlight-panel .message-down {
    text-align: center;
    position: relative;
    top: 58px;
}

.starlight-panel .progress-border {
    border: 1px #000 solid;
    border-radius: 3px;
    width: 424px;
    height: 18px;
    z-index: 1700;
    position: fixed;
    left: 79px;
    bottom: 92px;
}

.starlight-ratio {
    bottom: 115px;
    left: 355px;
    z-index: 1700;
    position: fixed;
    color: #363636;
    font-size: 16px;
    font-weight: bold;
    font-family: 'M+ 1p bold';
    line-height: 1.6em;
    /* for anti alias */
    transform: rotate(0.028deg);
}

.starlight-banner p {
    bottom: 22px;
    right: 100px;
    z-index: 1600;
    position: fixed;
    color: #fff;
    font-size: 40px;
    font-family: 'M+ 1p bold';
    line-height: 1.4em;
}

.starlight-loading.hide {
    display: none;
}